<section class="flex">
    <div id="authDiv" class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div class="w-full rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 drop-shadow-lg">

            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <img src="../images/AnimalBorder.webp" alt="BG" id="authBG" class="border-2 border-green-200">
                <h1 id="authHeader" class="text-xl font-bold leading-tight tracking-tight text-white md:text-2xl dark:text-white">Log In</h1>

                <form class="space-y-4 md:space-y-6" method="POST" action="/auth/signin">
                    <div>
                        <input type="email" name="emailAddress" id="email" class="drop-shadow-md bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Email" required="">
                    </div>
                    <div>
                        <input type="password" name="password" id="password" placeholder="••••••••••••" class="drop-shadow-md bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
    
                    <div class="flex items-start">
                    </div>
                    <button type="submit" class="drop-shadow-md w-full bg-blue-700 text-white  hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center border-b-4 border-blue-500">Sign In</button>
                </form>

                <div>
                    <p id="authFooter" class="drop-shadow-lg text-center text-sm font-medium text-white">Don't have an account? <a href="/auth/signup" class="font-bold text-white hover:underline text-center">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
  </section>