<section class="justify-center">
    <form method="POST" action="/pet/add">
    
         <div class="mb-6 "	id="profile">

            <div class="flex flex-wrap m-2 w-4/5 my-8">

                <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Name</label> -->
                 <input type="text" name="name" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Joe" required>

                <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Animal</label> -->
                 <input type="text" name="animal" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cat" required>
            </div>

             <div class="flex flex-wrap m-2 w-4/5 my-8">
                <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Breed</label> -->
                 <input type="text" name="breed" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Persian British Shorthair" required>

                 <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Age</label> -->
                 <input type="number" name="age" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1" required>
             </div>

             <div class="flex flex-wrap m-2 w-4/5 my-8">
                 <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Gender</label> -->
                 <input list="genders" name="gender" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Female" required>
                 <datalist id="genders">
                     <option value="Male">
                     <option value="Female">
                 </datalist>
                 <!-- <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">From</label> -->
                <input type="text" name="from" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Bahrain" required>
             </div>
    
            </div>
    
        <div class="form-group">
                </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        <form method="POST" action="/profile-upload-single" enctype="multipart/form-data">
    
        </form>
    
    </form>
</section>