<img id="imgFrame" src="../images/frame1.png" alt="Frame" class="rounded-lg">
<div class="max-w-2xl mx-auto">

    <div id="default-carousel" class="relative" data-carousel="static">
       <!-- Carousel wrapper -->
        <div id="carousel" class="overflow-hidden relative h-56 rounded-lg sm:h-64 xl:h-80 2xl:h-96 border-4 border-gray-900 border-opacity-10 drop-shadow-lg">
            <!-- Item 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <span class="absolute top-1/4 left-1/2 text-2xl font-bold text-white -translate-x-1/2 -translate-y-1/2 sm:text-4xl" id="sliderText">My Cool Cat</span>
                <a href="/auth/signin"><img src="https://images.unsplash.com/photo-1533738363-b7f9aef128ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8&w=1000&q=80" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" id="sliderImg" alt="Demo Article 1">
                <!-- <p class="absolute bottom-1/4 text-white text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officia.</p> -->
            </a>
            </div>
            <!-- Item 2 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <span class="absolute top-1/4 left-1/2 text-2xl font-bold text-white -translate-x-1/2 -translate-y-1/2 sm:text-4xl" id="sliderText">Cute Dog</span>
                <a href="/auth/signin"><img src="https://image.cnbcfm.com/api/v1/image/105992231-1561667465295gettyimages-521697453.jpeg?v=1561667497" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" id="sliderImg" alt="Demo Article 2">
                <!-- <p class="absolute bottom-1/4 text-white text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officia.</p> -->
                /a>
            </div>
            <!-- Item 3 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <span class="drop-shadow-lg absolute top-1/4 left-1/2 text-2xl font-bold text-white -translate-x-1/2 -translate-y-1/2 sm:text-4xl" id="sliderText">Chill Hamster</span>
                <a href="/auth/signin"><img src="https://www.pawtracks.com/wp-content/uploads/sites/2/2021/08/baby-hamster-in-hand.jpg?fit=1024%2C1024&p=1" class="block absolute top-1/2 left-1/2 w-full -translate-x-1/2 -translate-y-1/2" id="sliderImg" alt="Demo Article 3">
                <!-- <p class="absolute bottom-1/4 text-white text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, officia.</p> -->
            </a>
            </div>
        </div>
        <!-- Slider indicators -->
        <div class="flex absolute bottom-5 left-1/2 top-45 z-30 space-x-3 -translate-x-1/2">
            <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 1" data-carousel-slide-to="0"></button>
            <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
            <button type="button" class="w-4 h-4 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        </div>
        <!-- Slider controls -->
        <button type="button" class="flex absolute top-0 left-4 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-prev>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            </span>
        </button>
        <button type="button" class="flex absolute top-0 right-4 z-30 justify-center items-center px-4 h-full cursor-pointer group focus:outline-none" data-carousel-next>
            <span class="inline-flex justify-center items-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
                <svg class="w-5 h-5 text-white sm:w-6 sm:h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
            </span>
        </button>
    </div>
	</p>
    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
</div>