<h1>About Us</h1> <br>
<h2>Who We Are</h2>
<p>Pet Magazine was founded in 2022 blah vlah etc.....</p>
<br>
<h1>Contact Us</h1>
<p>Whether you have a comment or suggestion to share, we look forward to hearing from you. Feel free to reach out by visiting our Contact Us page.
</p>
<br>
<h1>Locations
</h1>
<p>Our primary offices are in New York City and Edmonton, Canada. Our New York City office is located at 225 Liberty Street, 4th Floor, New York, NY 10007 and is not open to the public. Our Edmonton office is located at 4208 - 97 Street, Edmonton, AB T6E 5Z9 and is not open to the public.</p>
